.DS_Store
*.pyc
*._*

# Vagrant
vagrant.d
!vagrant.d/Vagrantfile

# Vim
vim/bundle
vim/.netrwhist

# tmux
tmux/plugins
!tmux/plugins/tpm

# Ruby Bundler
/bundle/cache

# Config
/config
/config/!nvim

# Vim minpac
/vim/pack/minpac/start
