.DS_Store
*.pyc
*._*
vim/bundle

# Raspberry Pi
bin/node* # node installation

# Vagrant
vagrant.d/* # ignore Vagrant folder
!vagrant.d/Vagrantfile # do not ignore Vagrant config

# Vim
vim/.netrwhist

